# Operating system files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
# Python cache files and virtual environments
__pycache__/
*.pyc
env/
venv/

# Files
#evals.py

#Images
evaluation_metrics_IsToxic.png
evaluation_metrics_IsAbusive.png
evaluation_metrics_IsProvocative.png